
.inline_div {
  display: inline-block;
}
.container {
  width: 960px;
  font-size: 12px;
}

/*SPAN STYLINGS FOR ALL SECTIONS*/
.aqua {
  color: rgb(151,202,214);
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.red {
  color: red;
  font-weight: bold;
}
.blue {
  color: rgb(66, 112, 160);
}

/*Header Section*/
.header img{
  width: 50px;
  height: 50px;
}
.header {
  height: 50px;
}
.header h1 {
  font-size: 36px;
  line-height: 50px;
}
h2 {
  background-color: rgb(82,124,165);
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-left: 15px;
}

/*SIDEBAR SECTION*/

.sidebar {
  width: 175px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
.sidebar img {
  width: 50px;
  height: 75px;
  margin: 5px 50px;
}
.sidebar a {
  width: 125px;
 display: inline-block;
 color: white;
 font-weight: bold;
 padding: 5px;
 border-radius: 5px;
 text-align: center;
 text-decoration: none;
}
.video {
  background-color: blue;
  margin: 10px 20px;
}
.resources {
  background-color: orange;
  margin: 0px 20px 10px 20px;
}
.learn {
  background: rgb(96, 197, 219);
  margin: 0px 20px 10px 20px;
}
.sidebar_1 {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}
.sidebar_2 {
  background-image: url('ad_background.png');
  height: 250px;
  color: white
}

/*MAIN CONTENT SECTION*/

.info {
  border-bottom: 1px solid gray;
}
.info_1 {
  margin-right: 540px;
  margin-top: 10px;
  vertical-align: top;
}
.info img {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 3px;
}
.info_2 h4 {
  color: aqua;
}
.info_2 p {
  padding-left: 20px;
}
h6 {
  /* display: inline-block; */
  color: navy;
}
h4 {
  color: navy;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.main_content{
  height: 700px;
  width: 770px;
  margin-left: 10px;
}
.main_content, .sidebar{
  vertical-align: top;
}

/*DNS SECTION*/
.dns img {
  width: 200px;
  height: 75px;
  padding: 10px 250px;
}
ul, ol {
  margin-left: 30px;
}

/*LANGUAGES SECTION*/
.languages {
  border: 2px solid rgb(66, 112, 160);
  border-bottom: 0;
}
.languages img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}
.lang_text {
  width: 50%;
}
